{% trans_default_domain 'admin' %}

<div class="card">
    <h4 class="card-title card-header">{{ 'fal at'|icon(null, 18, 'info-darken me-2') }}{{ "Emails"|trans }}</h4>
    <div class="card-body pb-0">
        <div class="row">
            {{ form_row(form.configuration.emailsDev) }}
            {{ form_row(form.configuration.emailsSupport) }}
        </div>
    </div>
</div>