{% trans_default_domain 'admin' %}

{% if 'tab'|moduleActive(configuration) %}
    {% set uri = app.request.uri %}
    {% set active = '/tabs/' in uri %}
    {% set module = 'tab'|moduleActive(configuration) %}
    {% set intl = intlsModules['tab'][app.user.locale] is defined ? intlsModules['tab'][app.user.locale] : intlsModules['tab']['fr'] %}
    {% set title = intl.placeholder is defined and intl.placeholder|striptags|length > 0 ? intl.placeholder : (intlsModules['tab']['entity'].adminName is defined ? intlsModules['tab']['entity'].adminName : "Groupes d'onglets"|trans) %}
    {% set icon = intlsModules['tab']['entity'].iconClass is defined and intlsModules['tab']['entity'].iconClass ? intlsModules['tab']['entity'].iconClass : '/medias/icons/light/layer-group.svg' %}
    <li{% if active %} class="active"{% endif %}>
        <a href="{{ path('admin_tab_index', {website: websiteId}) }}" data-toggle="preloader">
            {{ icon|icon(13, 15, 'white me-3', {icon: true}) }}{{ title|raw }}
        </a>
    </li>
{% endif %}