.idea/
.idea/workspace.xml
/nbproject/
/.env
/.env.local
/.env.preprod
/.env.prod
/.env.dev
/.env.test
/var/*
/tools/*
/config/secrets/prod/prod.decrypt.private.php

/vendor/cms/faker/.git
/vendor/cms/phone-number-bundle/.git

/translations/*
!/translations/*.db

**/Entity/*~
*~

/changes/
changes.zip
changes.rar

/SnoreToast/
/node_modules/*
/bin/export/*
/public/thumbnails/*
/public/geo-json/*
!/public/thumbnails/.gitignore
/public/uploads/*
/public/bundles/*
!public/bundles/tinymce
/public/js/*
!public/js/langs
/public/medias/webp/*
/public/manifest.*

/assets/medias/movies/*
!/assets/medias/movies/.gitkeep
/public/build/*

!public/uploads/tmp/.gitkeep
!public/uploads/import/.gitkeep
!public/uploads/users/

/public/uploads/users/*
!public/uploads/users/customer.png
!public/uploads/users/translator.png
!public/uploads/users/webmaster.svg

!public/build/.htaccess
!public/build/admin/.htaccess
!public/bundles/.htaccess
!public/js/.htaccess
!public/thumbnails/.htaccess
!public/uploads/.htaccess

!.gitkeep
!var/.gitkeep
!bin/export/.gitkeep
!translations/.gitkeep
!public/uploads/.gitkeep

npm-debug.log
yarn-error.log
blackfire.msi

###> symfony/phpunit-bridge ###
.phpunit
/phpunit.xml
.phpunit.result.cache
###< symfony/phpunit-bridge ###
###> friendsofphp/php-cs-fixer ###
/.php-cs-fixer.php
/.php-cs-fixer.cache
###< friendsofphp/php-cs-fixer ###
