{% extends 'core/email/base.html.twig' %}

{% trans_default_domain 'front_default' %}

{% set website = website is defined ?website : website() %}
{% set locale = user.locale is defined and user.locale ? user.locale
    : (website ? website.configuration.locale : (app.request.locale is defined ? app.request.locale : 'fr')) %}

{% block metaTitle %}{{ "Votre mot de passe a expiré."|trans({}, 'security_email', locale)|htmlEntities }}{% endblock %}

{% block preheader %}{% endblock %}

{% block title %}{% endblock %}

{% block info %}
    {% if expire is defined %}
        {{ "Cet e-mail vous a été envoyé, car nous avons constaté que votre mot de passe avait expiré."|trans({}, 'security_email', locale) }}
    {% else %}
        {{ "Cet e-mail vous a été envoyé, car nous avons constaté que votre mot de passe allait bientôt expirer."|trans({}, 'security_email', locale) }}
    {% endif %}
{% endblock %}

{% block body %}
    <tr>
        <td id="content-fixtures" align="center" bgcolor="#ffffff" style="padding: 24px; font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif; font-size: 16px; line-height: 24px;">
            <p style="margin: 0;">{{ "Votre mot de passe à expiré. Pensez à le modifier."|trans({}, 'security_email', locale) }}</p>
        </td>
    </tr>
{% endblock %}