{% extends 'core/email/base.html.twig' %}

{% trans_default_domain 'email' %}

{% block body %}
    <tr>
        <td align="center" bgcolor="#ffffff" style="padding: 24px; font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif; font-size: 16px; line-height: 24px;">
            {{ message|raw }}
        </td>
    </tr>
{% endblock %}