{% trans_default_domain 'admin' %}

{% set preloaderId = preloaderId is defined and preloaderId ? preloaderId : 'stripe-preloader' %}
{% set preloaderClass = preloaderClass is defined and preloaderClass ? preloaderClass : null %}
{% set asFull = full is defined and full %}
{% set visible = visible is defined and visible %}
{% set progress = progress is defined and progress %}

<div id="{{ preloaderId }}" class="progress stripe-preloader progress-card-container prototype-preloader{% if not visible %} d-none{% endif %}{% if asFull %} full{% endif %}{% if preloaderClass %} {{ preloaderClass }}{% endif %}">
    <div class="bg-stripe-loader"></div>
    <div class="vertical-align">
        <h4>{{ "Chargement en cours..."|trans }}</h4>
        {% if progress %}
            <div class="card progress-card mt-4{% if progress == 'hide' %} d-none{% endif %}">
                <div class="card-body">
                    <h6 class="title">{{ "Mise à jour"|trans|raw }}</h6>
                    <div class="progress">
                        <div class="progress-bar progress-bar-striped bg-info position-progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                </div>
            </div>
        {% endif %}
    </div>
</div>