@charset "UTF-8";

/* -----------------------------------------------------------------

    Copyright  : 2022
    Created on : 2022-01-19, 7:04 PM
    Author     : Sébastien FOURNIER <fournier.sebastien@outlook.com>

    FRONT EACH FONT :
    =================

------------------------------------------------------------------ */

@each $code, $config in $theme-fonts {
    .ff-#{$code} {
        @if (map-get($config, 'font-family')) {
            font-family: map-get($config, "font-family") !important;
        }
        @if (map-get($config, 'line-height')) {
            line-height: map-get($config, "line-height") !important;
        }
    }
}