@charset "UTF-8";

/* -----------------------------------------------------------------

    Copyright  : 2020
    Created on : 2020-03-03, 2:37 PM
    Author     : Sébastien FOURNIER <fournier.sebastien@outlook.com>

    FRONT EACH BACKGROUND :
    =======================

------------------------------------------------------------------ */

@each $suffix, $color in $theme-colors {
    @if not index($default-bootstrap-colors, $suffix) {
        .bg-#{$suffix} {
            @if variable-exists(dyslexic) {
                background-color: $color !important;
            } @else {
                background-color: $color;
            }
        }
    }
}