@charset "UTF-8";

/* -----------------------------------------------------------------

    Copyright  : 2024
    Created on : 2019-08-15, 4:04 PM
    Author     : Sébastien FOURNIER <fournier.sebastien@outlook.com>

    MIXINS :
    =======

------------------------------------------------------------------ */

@import "../../../vendor/mixin/media-queries";
@import "../../../vendor/mixin/mixin-rem";