{% trans_default_domain 'front_default' %}

{#{% set intl = block|intl %}#}
{#{% set title = intl.placeholder is defined and intl.placeholder ? intl.placeholder : 'false' %}#}
{#{% set file = file is defined and file ? file : (intl.video is defined ? intl.video : null) %}#}
{#{% if file %}#}
{#    <div id="audio-player-{{ block.id }}"#}
{#         class="audio-player"#}
{#         data-theme="light"#}
{#         data-title="{{ title|striptags }}"#}
{#         data-artist="false"#}
{#         data-cover="false"#}
{#         data-more-btn="false"#}
{#         data-speed-btn="false"#}
{#         data-component="audio-player"#}
{#         data-src="{{ file }}"></div>#}
{#{% endif %}#}