{% extends 'admin/page/seo/google-analytics/base.html.twig' %}

{% trans_default_domain 'admin' %}

{% block page %}

    <div class="card">
        <div class="card-title card-header">
            {{"Recherche organique"|trans}} <small class="text-muted-grey text-italic">{{"(30 derniers jours)"|trans}}</small>
        </div>
        <div class="card-body">
            <div id="search-tab-chart"></div>
        </div>
    </div>

{% endblock %}