{% trans_default_domain 'front_default' %}

{% import 'core/webmaster-edit.html.twig' as macroWebmaster %}

{% set asListing = listing is defined %}
{% set microDataActive = microDataActive is defined ? microDataActive : website.seoConfiguration.microData %}
{% set pageNum = app.request.get('page') ? app.request.get('page') : 1 %}
{% set ajaxPath = path('front_newscast_index', {website: website.id, url: url.id, filter: filter}) %}
{% set displayFormFilters = listing.displayFilters is defined ? listing.displayFilters : false %}

{% if microDataActive %}
    {% include 'front/'~websiteTemplate~'/actions/newscast/index/microdata.html.twig' with {entities: entities, url: url, website: website} only %}
{% endif %}

<div id="listing-news-container-{{ listing.slug }}" class="listing-events-container listing-entities-container">
    {% if displayFormFilters %}
        <div class="container">
            {% include 'front/'~websiteTemplate~'/actions/vendor/include/entities-filters-form.html.twig' with {
                form: form,
                interfaceName: interfaceName,
                website: website,
                url: url,
                filter: filter,
                filters: filters is defined ? filters : false,
                allEntities: allEntities,
                websiteTemplate: websiteTemplate,
                alignment: 'start',
                counterInline: true,
                counter: listing.counter,
                reset: true,
            } only %}
        </div>
    {% endif %}
    {% if asListing %}
        {{ macroWebmaster.box({
            title: "Éditer l'index"|trans([], 'front_webmaster'),
            role: 'ROLE_NEWSCAST',
            path: path('admin_newscastlisting_edit', {website: listing.website.id, newscastlisting: listing.id})
        }) }}
    {% endif %}
{#    {% if isSubmitted is defined and isSubmitted %}#}
{#        <p class="search-infos mb-4 mt-5 d-flex align-items-center">#}
{#            {% set count = allEntities.getTotalItemCount is defined ? allEntities.getTotalItemCount : 0 %}#}
{#            <strong class="count badge text-white fw-700 bg-primary me-2 fw-500">{{ count }}</strong>#}
{#            {% set message = "Aucun résultat par la recherche."|trans %}#}
{#            {% if count == 1 %}#}
{#                {% set message = "Résultat trouvé pour la recherche."|trans %}#}
{#            {% elseif count > 1 %}#}
{#                {% set message = "Résultats trouvés pour la recherche."|trans %}#}
{#            {% endif %}#}
{#            <span class="result-title text-black">{{ message|raw }}</span>#}
{#        </p>#}
{#    {% endif %}#}
    {% include 'front/'~websiteTemplate~'/actions/newscast/index/default.html.twig' with {asEvent: true} %}
</div>