<span data-toggle="preloader">
    <div class="active-gdpr-cookie placeholder-tawk-to cursor"
         title="{{ "Contactez le support. Si vous cliquez sur ce bouton, vous reconnaissez avoir accépter les Cookies tawkTo." }}"
         data-toggle="tooltip"
         data-reload="true"
         data-code="tawk-to">
        {{ 'far comment-slash'|icon(38, 30, 'white') }}
    </div>
</span>