@charset "UTF-8";

/* -----------------------------------------------------------------

    Copyright  : 2025
    Created on : 2025-02-06, 9:28 PM
    Author     : Sébastien FOURNIER <fournier.sebastien@outlook.com>

    TEMPLATE NEWS :
    ==============

    1 ) Modules
    2 ) Core import

------------------------------------------------------------------ */

/*--------------------------------------
   1 ) Modules
--------------------------------------*/

$enable-youtube: true;
$enable-code: true;

/*-----------------------------------
   2 ) Core import
-----------------------------------*/

@import "../vendor";