@charset "UTF-8";

/* -----------------------------------------------------------------

    Created on : 2019-08-07, 16:56:32 AM
    Author     : Sébastien FOURNIER <fournier.sebastien@outlook.com>

    TAB :
    ===========================

    1 ) Vertical tabs
    3 ) Custom vertical tab

------------------------------------------------------------------ */

/*-----------------------------------
   1 ) Vertical tabs
-----------------------------------*/

.vtabs {

    display: table;

    .tabs-vertical {

        width: 150px;
        border-bottom: 0;
        border-right: 1px solid $border-color;
        display: table-cell;
        vertical-align: top;

        li .nav-link {
            color: $gray-800;
            margin-bottom: 10px;
            border: 0;
            border-radius: $border-radius 0 0 $border-radius;
        }
    }

    .tab-content {
        display: table-cell;
        padding: 20px;
        vertical-align: top;
    }
}

.tabs-vertical li .nav-link.active,
.tabs-vertical li .nav-link:hover,
.tabs-vertical li .nav-link.active:focus {
    background: $theme-color;
    border: 0;
    color: $white;
}

/*-----------------------------------
   3 ) Custom vertical tab
-----------------------------------*/

.customvtab .tabs-vertical li .nav-link.active,
.customvtab .tabs-vertical li .nav-link:hover,
.customvtab .tabs-vertical li .nav-link:focus {
    background: $white;
    border: 0;
    border-right: 2px solid $theme-color;
    margin-right: -1px;
    color: $theme-color;
}

.tab-content-border {
    border: 1px solid #ddd;
    border-top: 0;
}

.custom-tab {

    background: $info-lighten;
    border-top-left-radius: var(--bs-border-radius);
    border-top-right-radius: var(--bs-border-radius);
    border-bottom: 0;
    overflow: hidden;

    @include mediaQuerySizes(null, 1650px) {
        * {
            font-size: 12px !important;
        }
    }
}

.custom-tab-2 {

    li {

        a.nav-link {

            border: 0;
            margin-right: 3px;
            color: $body-color;

            &.active {
                background: $info;
                color: $white;
            }

            &:hover {
                color: $white;
                background: $info;
            }
        }
    }
}

.nav-tabs .nav-link:not(.save):not(.bg-danger):not(.active):not(.back-link) {
    background-color: $info-lighten !important;
}

.custom-tab li.right {

    .save {
        border: 0 !important;
    }

    .back-link, .save.border-right {
        border-radius: 0 !important;
        border-right: 2px solid $info-darken !important;
        border-bottom: 0 !important;
    }

    .save, .back-link {

        background-color: $info !important;
        min-width: 75px;
        text-align: center;

        &.small {
            font-size: 12px;
            line-height: 1;
            padding-top: 0.5rem !important;
            padding-bottom: 0.5rem !important;
            display: inline-flex;
            align-items: center;
            justify-content: center;
        }

        &:hover {
            background: $info-darken !important;
        }

        @include mediaQuery(max-xxl) {

            svg {
                margin-right: 0 !important;
            }

            span {
                display: none !important;
            }
        }
    }
}

.nav-tabs .nav-link.active,
.nav-tabs .nav-item.show .nav-link {
    background-color: $info !important;
    border-color: $info !important;
    box-shadow: 0 0 11px 0 rgba(0, 0, 0, 0.33);
    color: $white !important;
    height: 100%;
}

.modal-content {
    .nav-tabs .nav-link.active,
    .nav-tabs .nav-item.show .nav-link {
        color: $info !important;
    }
}