<span class="d-inline-flex align-items-center cursor fw-300 share-content position-relative"
      data-clipboard-action="copy"
      data-clipboard-text="{{ masterRequest().uri }}">
    <i class="icon-share-alt me-2"></i>{{ "Partager"|trans|raw }}
    <div class="bg-primary h-100 w-100 text-center align-items-center justify-content-center copy-clipboard text-white position-absolute d-none" role="tooltip">{{ 'Copié !'|trans|raw }}</div>
</span>