@charset "UTF-8";

/* -----------------------------------------------------------------

    Created on : 2019-09-30, 10:47 AM
    Author     : Sébastien FOURNIER <fournier.sebastien@outlook.com>

    ANALYTICS :
    ===========

    1 ) Import
    2 ) Morris JS
    3 ) Page

------------------------------------------------------------------ */

/*-----------------------------------
   1 ) Import
-----------------------------------*/

@import "../variables";
@import "../../vendor/mixin/media-queries";

/*-----------------------------------
   2 ) Morris JS
-----------------------------------*/

.morris-hover {
    position: absolute;
    z-index: 1;
}

.morris-hover.morris-default-style .morris-hover-row-label {
    font-weight: bold;
    margin: 0.25em 0
}

.morris-hover.morris-default-style .morris-hover-point {
    white-space: nowrap;
    margin: 0.1em 0
}

.morris-hover.morris-default-style {
    border-radius: 4px;
    padding: 10px 12px;
    color: #666;
    background: #fff;
    border: 1px solid #eee;
    box-shadow: none;
    font-size: 14px;
}

/*-----------------------------------
   2 ) Morris JS
-----------------------------------*/

#analytics-page {

    .card {

        border-radius: 2px;
        box-shadow: 0 1px 3px 0 rgba(0,0,0,.2),0 1px 1px 0 rgba(0,0,0,.14),0 2px 1px -1px rgba(0,0,0,.12);

        .card-body {

            padding: 25px;

            svg.mobile {
                width: 20px;
            }
        }

        h6 {
            font-size: 12px;
            color: transparentize($white, .3);
            padding-bottom: 6px;
        }

        &.bg-info-darken {
            h6 {
                border-bottom: 1px solid transparentize($white, .7);
            }
        }

        &#actives-sessions-card {
            .counter {
                font-size: 50px;
            }
        }

        .nav-tabs {

            border-bottom: 0;

            .nav-link {

                border-radius: 0;
                background-color: transparent;
                border: 0;
                padding: 20px 25px 30px 25px;
                color: transparentize($dark, .3);

                &.active {
                    background-color: transparent;
                    border: 0;
                    font-weight: 500;
                    color: $white;
                }

                &:hover {
                    background-color: $gray-100;
                }

                .entitled {
                    font-size: 15px;
                }

                .counter {

                    font-size: 27px;

                    &:after {
                        content: ' ';
                        position: absolute;
                        left: 4px;
                        bottom: -5px;
                        width: 5px;
                        height: 1px;
                        background-color: $dark;
                    }
                }
            }
        }

        .card-footer {

            border-bottom-left-radius: 2px !important;
            border-bottom-right-radius: 2px !important;

            a {
                color: $info-darken;
                font-size: 13px;

                svg {
                    fill: $info-darken;
                }
            }
        }
    }

    .tooltip-content4 {

        padding: 0;
        width: 250px;
        left: 106%;

        .card {

            box-shadow: none;
            border-radius: 5px;

            * {
                color: $dark;
                background-color: transparent;
            }

            .card-header {

                border-bottom: 1px solid $gray-200;

                .date {
                    color: $gray-600;
                    font-size: 11px;
                    font-weight: 600;
                }

                .dates-range {
                    color: $gray-700;
                    font-size: 14px;
                    font-weight: 600;
                }
            }

            .card-body {

                .date-links {

                    li {

                        background-color: transparent;
                        transition: all .3s;

                        &:hover {
                            background-color: $gray-300;
                            transition: all .3s;
                        }

                        a {
                            color: $dark;
                            font-weight: 600;
                            padding-left: 1.25rem;
                            padding-right: 1.25rem;
                            display: inline-block;
                            width: 100%;
                        }

                        &.active {
                            a, svg, i {
                                color: $info !important;
                                fill: $info !important;
                            }
                        }
                    }
                }
            }

            .card-footer {

                border-top: 1px solid $gray-200;

                .customized-link-date {
                    color: $dark;
                    font-weight: 600;
                }
            }
        }
    }

    .jvectormap-region:hover {
        fill: $info-darken;
    }

    ul.bars {

        .progress {

            border-radius: 0;

            .progress-bar {
                height: 15px;
                background-color: $info-darken;
            }
        }
    }
}

#main-sessions-report-card {

    .chart-lines {

        height: 300px;

        .morris-hover-point {
            color: $info-darken;
        }
    }

    .tab-pane {
        padding-left: 10px;
        padding-right: 10px;
        padding-bottom: 0;
    }
}

#global-small-charts {

    border-top: 1px solid $gray-200;
    padding: 20px;
    background-color: $gray-100;

    .title {
        color: $dark !important;
        padding-bottom: 0 !important;
        min-height: 30px;
    }

    .count {
        font-size: 25px;
    }
}

#screens-card {

    .donuts {
        height: 250px;
    }

    .screens-percent {

        i, svg {
            font-size: 20px;
        }

        .percent {
            font-size: 20px;
            font-weight: 200;
        }
    }
}

#analytics-page .table-striped {

    tr.odd {
        background-color: $gray-100 !important;
    }

    tr.even {
        background-color: $white !important;
    }

    th, td {

        padding: 5px 10px;

        .transparent {
            color: transparent;
        }
    }

    td {
        font-size: 13px;
    }

    table tr {
        background: $gray-300 !important;
    }

    @include mediaQuery(min-md) {
        th.actions {
            max-width: 100px;
            width: 100px;
        }
    }
}

#world-map-card {
    #world-map-markers {
        height: 300px;
    }
}

.analytics-modal {

    button.btn-close {
        background: transparent;
        position: absolute;
        top: 15px;
        right: 15px;
    }

    .modal-dialog {
        max-width: 800px;
    }

    .modal-title {
        font-weight: 500;
        font-size: 1.125rem !important;
    }
}

//#analytics-page {
//
//    .btn-info.right {
//
//        background-color: $info-darken;
//        border-color: $info-darken;
//        border-radius: 0 var(--bs-border-radius) 0 0;
//        padding: 0 !important;
//
//        &:hover {
//            background-color: $info-darken;
//            border-color: $info-darken;
//        }
//
//        .js-datepicker-wrap {
//
//            position: relative;
//            padding: 15px 30px;
//            height: 100%;
//
//            i, svg {
//                font-size: 25px;
//                margin-top: 7px;
//            }
//
//            form {
//
//                position: absolute;
//                top: 0;
//                right: 0;
//                bottom: 0;
//                left: 0;
//                height: 100%;
//                width: 100%;
//                opacity: 0;
//                cursor: pointer;
//
//                .form-group, input {
//                    padding: 0 !important;
//                    margin: 0;
//                    height: 100%;
//                    cursor: pointer;
//                }
//            }
//        }
//    }
//
//    .donuts {
//        height: 250px;
//    }
//

//}
