@charset "UTF-8";

/* -----------------------------------------------------------------

    Created on : 2020-01-13, 6:32 AM
    Author     : Sébastien FOURNIER <fournier.sebastien@outlook.com>

    ANALYTICS :
    ===========

    1 ) Import
    2 ) Core

------------------------------------------------------------------ */

/*-----------------------------------
   1 ) Import
-----------------------------------*/

@import "../variables";
@import "../../vendor/mixin/media-queries";

/*-----------------------------------
   2 ) Core
-----------------------------------*/

#google-locales-switcher {

    position: absolute;
    right: 0;

    button {

        padding: 25px 20px;
        width: 150px;
        border: 0;
        height: 72px;
        border-left: 1px solid $gray-300;
        border-radius: 0 10px 0 0;
        box-shadow: none !important;

        img {
            margin-top: 3px;
        }
    }
}

#google-auth {

    position: absolute;
    right: 0;

    &.multi-locales {
        right: 150px;
    }

    #embed-api-auth-container {

        cursor: pointer;

        > div:last-child {
            font-size: 12px;
            padding-top: 5px;
        }
    }
}

#google-modal-dev {

    #gaIdResult {
        width: 100%;
        padding: 10px 15px;
        font-size: 13px;
    }

    h4 {
        font-weight: 500;
        width: 100%;
        text-align: center;
    }

    .modal-header {
        border-bottom: 0;
        padding-top: 25px;
        padding-bottom: 0;
    }

    .modal-body {
        padding: 30px;
    }

    #view-selector-container {

        table {

            width: 100% !important;

            tr {
                td {

                    padding-bottom: 10px;

                    &:last-child > div {
                        width: 100% !important;
                        cursor: pointer !important;
                    }
                }
            }
        }
    }
}

.shr-a-shr-fb {
    z-index: 9999;
}