@charset "UTF-8";

/* -----------------------------------------------------------------

    Created on : 2019-09-18, 7:08 PM
    Author     : Sébastien FOURNIER <fournier.sebastien@outlook.com>

    ICONS LIBRARY :
    ==============

    1 ) Variables
    2 ) Main

------------------------------------------------------------------ */

/*-----------------------------------
   1 ) Variables
-----------------------------------*/

@import '../variables';

/*-----------------------------------
   2 ) Main
-----------------------------------*/

.profile-tab li a.nav-link,
.custom-tab li a.nav-link {
    padding: 25px 20px;
}

#add-icon-btn {
    .btn {
        width: 100%;
        height: 100%;
    }
}

#cssclasses-collection {

    .prototype {

        margin-bottom: 15px;

        &:hover {
            .swal-delete-link {
                opacity: 1;
                transition: all .2s;
            }
        }
    }
}

#icons-contents {

    .tab-pane {

        background-color: $white;

        .glyphs div.item {

            .align-items-center {

                position: relative;
                padding: .8rem 1rem;
                transition: all ease-in-out .15s;
                background-color: #eee;
                border-radius: .1875rem;
                border: 1px solid #eee;
                overflow: hidden;
                min-height: 73px;

                .img-icon {
                    max-height: 45px;
                    max-width: 50px;
                }

                i, svg {
                    font-size: 25px;
                    float: left;
                }

                .search-icon {
                    float: left;
                    margin-top: 4px;
                }

                .icon-actions {

                    position: absolute;
                    top: 0;
                    bottom: 0;
                    right: 0;
                    background-color: $white;
                    border-radius: .1875rem;
                    width: 70px;
                    cursor: pointer;
                    opacity: 0;
                    transition: all ease-in-out .15s;
                    float: initial;
                    padding: 2px;

                    .icon-copy, .icon-add {

                        border-radius: .1875rem;
                        height: calc(50% - 1px);

                        &.active {
                            fill: $white !important;
                        }
                    }

                    .icon-copy {
                        margin-bottom: 2px;
                    }

                    .inner {

                        position: relative;

                        svg {
                            position: absolute;
                            top: 50%;
                            transform: translateY(-50%);
                            left: 24px;
                            right: 0;
                        }
                    }
                }

                &:hover, &.active {

                    transition: all ease-in-out .15s;

                    img.icon-hover {
                        filter: brightness(0) invert(1);
                        transition: all ease-in-out .15s;
                    }

                    .icon-actions {
                        opacity: 1;
                        transition: all ease-in-out .15s;

                        svg {
                            fill: currentColor;
                        }
                    }
                }

                & > div {
                    font-size: .8125rem;
                }
            }
        }
    }
}