@charset "UTF-8";

/* -----------------------------------------------------------------

    Created on : 2019-09-02, 1:10 PM
    Author     : Sébastien FOURNIER <fournier.sebastien@outlook.com>

    MEDIAS CROPPER :
    ===============

    1 ) Import
    2 ) Core

------------------------------------------------------------------ */

/*-----------------------------------
   1 ) Import
-----------------------------------*/

@import '../variables';
@import "../lib/cropper";

/*-----------------------------------
   2 ) Core
-----------------------------------*/

#medias-croppers-index {
    .card-header {
        border-top-right-radius: var(--bs-border-radius);
        border-top-left-radius: var(--bs-border-radius);
    }
}

.crop-card {

    background-color: $gray-200;

    .info-body {
        background-color: $white;
    }
}

.crop-modal {

    .img-container {
        position: relative;
        width: 100%;
        max-height: 500px;
    }

    .docs-buttons .btn, .refresh-cropper-sizes {
        min-height: 38px;
        line-height: 24px;
        min-width: 38px;
    }
}