{% extends 'core/email/base-felix.html.twig' %}

{% trans_default_domain 'security_cms' %}

{% set resetLink = app.request.getSchemeAndHttpHost()~path('security_password_confirm', {_locale: app.request.locale, token: token|url_encode}) %}

{% block metaTitle %}{{ "Réinitialisation de votre mot de passe."|trans|striptags }}{% endblock %}

{% block preheader %}{% endblock %}

{% block title %}{% endblock %}

{% block info %}
    {{ "Cet e-mail vous a été envoyé, car nous avons reçu une demande de modification de mot de passe pour votre compte."|trans|raw }}
{% endblock %}

{% block body %}
    <tr>
        <td align="center" bgcolor="#ffffff" style="padding: 24px; font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif; font-size: 16px; line-height: 24px;">
            {% set message = "<p>Bonjour,</p>
            <p>Vous avez demandé à réinitialiser votre mot de passe. <br>Pour procéder, cliquez simplement sur le lien ci-dessous :</p>
            <p><a href='%resetLink%' target='_blank' class='btn'><strong>Réinitialiser mon mot de passe</strong></a></p>
            <p>Ce lien est valable pendant 24 heures. Passé ce délai, vous devrez effectuer une nouvelle demande.</p>
            <p>Si vous n’êtes pas à l’origine de cette demande, vous pouvez ignorer cet e-mail en toute sécurité. Aucun changement ne sera effectué sans votre action.</p>
            <p>Merci et à bientôt !</p>"|trans({'%resetLink%': resetLink}) %}
            {{ message|raw }}
        </td>
    </tr>
{% endblock %}