@charset "UTF-8";

/* -----------------------------------------------------------------

    Copyright  : 2021
    Created on : 2021-06-14, 7:00 AM
    Author     : Sébastien FOURNIER <fournier.sebastien@outlook.com>

    FRONT DROPDOWN COMPONENTS :
    ==========================

------------------------------------------------------------------ */

.dropdown-container {

    .btn {
        small {
            font-size: 12px;
            font-weight: 100;
        }
    }

    .dropdown-menu {

        position: static !important;
        transform: translate3d(0px, 12px, 0) !important;

        .dropdown-item {
            &:hover, &:focus {
                background-color: $primary !important;
            }
        }
    }
}