@charset "UTF-8";

/* -----------------------------------------------------------------

    Created on : 2019-08-07, 10:25:46 AM
    Author     : Sébastien FOURNIER <fournier.sebastien@outlook.com>

    PRELOADER :
    ===========

------------------------------------------------------------------ */

@import '../../lib/fonts/google-poppins';

body.preloader-active {
    overflow: hidden;
}

.page-wrapper {
    min-height: calc(100vh - 61px);
}

.parent-preloader {
    position: relative;
}

#medias-sortable-container {
    .admin-preloader {
        border-bottom-right-radius: var(--bs-border-radius);
        border-bottom-left-radius: var(--bs-border-radius);
    }
}

#layout-preloader {
    border-radius: var(--bs-border-radius);
}

.stripe-preloader {

    background-color: transparent !important;
    background-size: auto auto;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    .bg-stripe-loader {
        background: repeating-linear-gradient(-55deg, transparentize($info, .5) 1px, transparentize($info-darken, .5) 2px, transparentize($info-darken, .5) 11px, transparentize($info, .5) 12px, transparentize($info, .5) 20px) !important;
        opacity: .7;
    }

    h4 {
        background-color: transparentize($info-darken, .3) !important;
        font-weight: 300 !important;
        color: $white;
        padding: 1rem 1.75rem;
        opacity: .5;
    }

    .progress-card {
        width: 80%;
        margin: 0 auto;
    }

    &.prototype-preloader {

        left: 10px;
        right: 10px;
        bottom: 15px;
        z-index: 9999;
        height: calc(100% - 15px);

        &.full {
            position: fixed;
            left: 0;
            right: 0;
            bottom: 0;
            height: auto;
        }
    }

    &.radius-preloader {
        border-radius: var(--bs-border-radius) !important;
    }

    &.progress-fixed {
        position: fixed;
    }
}

#entities-index,
.tab-content {
    .stripe-preloader {
        &.prototype-preloader {
            border-radius: 0;
        }
    }
}

#main-preloader {
    opacity: 0;
    max-height: 100vh;
    position: fixed;
    border-radius: 0;
}