{% trans_default_domain 'front_default' %}

<button id="scroll-top-btn" class="btn btn-primary d-none d-lg-inline-flex basic"
        aria-label="{{ "Retourner en haut page"|trans|striptags }}"
        data-bs-placement="left">
    <i class="icon-chevron-up separator vertical-align mt-0"></i>
</button>