{% trans_default_domain 'front_default' %}

<div class="stripe-preloader">
    <div class="bg-stripe-loader"></div>
    <div class="vertical-align">
        <h4>{{ "Chargement en cours..."|trans }}</h4>
    </div>
</div>